---
layout: page
title: 🖋️Blog
permalink: /blog/
order: 2
show: true
isMainPage: true
---

<div class="container">
<p style="text-align: center;">I share my thoughts about product development, user behaviors, productivity, tips, inspiration, strategies, so on.</p>
<hr>
{% include tag-cloud.html %}
<div data-pagebreak="15" data-pagebreak-url="./:num/">
    {% if site.blog.size > 0 %}
    {% for post in site.blog %}
    <div class="article" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
        <div class="article__content">
            <h2 class="article__title">
                <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
            </h2>
            <div class="article__meta">
                <span class="article__date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format =
                        site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format
                        }}</time></span>
            </div>

            <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content |
                strip_html | truncate: 130 }}{% endif %}</p>
            <div class="article__meta">
                {% if post.tags.size >= 1 %}
                <div class="post-tags" style="margin-bottom: 0px !important;">
                    {% for tag in post.tags %}
                    <a href="{{ site.baseurl }}/tags#{{ tag | downcase }}" class="post-tags__tag">{{ tag }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <!-- <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">See full story</a> -->
        </div>

        {% if post.image %}
        <div class="article__image-box">
            <a href="{{post.url | prepend: site.baseurl}}" class="article__image"
                style="background-image: url({{site.baseurl}}{{post.image}})"></a>
        </div>
        {% else %}
        <div class="article__image-box">
            <a href="{{post.url | prepend: site.baseurl}}" class="article__image" style="background-image: url({{site.baseurl}}/assets/img/infinity.png)" aria-label="{{post.title}}"></a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% include pagination-nav.html %}