---
layout: default
title: 📚Library
permalink: /library/
image:
isMainPage: true
order: 3
---

<div class="container-full">
    <div style="backdrop-filter: blur(10px); padding: 0; text-align: center;">
        <h1>{{ page.title | escape }}</h1>
    </div>

    <!-- tabs -->
    <div class="tabs c-tabs__bar library-tab">
        <a href="#" data-tab-value="#tab_1" class="c-tab c-tab--active c-tab--small">📑 Resources</a>
        <a href="#" data-tab-value="#tab_2" class="c-tab c-tab--inactive c-tab--small">👆 Interactions</a>
        <a href="#" data-tab-value="#tab_3" class="c-tab c-tab--inactive c-tab--small">📸 Activities</a>
        <a href="#" data-tab-value="#tab_4" class="c-tab c-tab__last-one c-tab--inactive c-tab--small">😋 Culinary
            Diary</a>
    </div>
    <!-- end tabs -->

    <!-- Tab content -->
    <div class="tab-content">
        <div class="tabs__tab active" id="tab_1" data-tab-info>
            <div class="row" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
                {% assign research-list = site.data.research | reverse %}
                {% assign c = "c-research-card" %}
                {% if research-list.size > 0 %}
                {% for post in research-list %}
                <div class="{{c}} col col-4 col-d-6 col-t-12">
                    <div class="{{c}}__inner">
                        {% if post.thumb-img %}
                        <div class="{{c}}__image-wrap">
                            <a href="{{ post.url }}" class="{{c}}__image">
                                <img loading="lazy" src="{{ post.thumb-img }}" alt="{{ post.title }}">
                            </a>
                        </div>
                        {% else %}
                        <div class="{{c}}__image-wrap">
                            <a href="{{ post.url }}" class="{{c}}__image"
                                style="background-image: url({{site.baseurl}}/assets/img/infinity.png)"
                                alt="{{ post.title }}"></a>
                        </div>
                        {% endif %}

                        <div class="{{c}}__content">
                            <h2 class="{{c}}__title">
                                <a href="{{ post.url }}">{{post.title}}</a>
                            </h2>

                            <div class="{{c}}__meta">
                                <div class="{{c}}__author-name">{{post.author}}</div>
                            </div>

                            <p class="{{c}}__excerpt">
                                {% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html |
                                truncate: 130 }}{% endif %}
                            </p>

                            {% if post.tags.size >= 1 %}
                            <div class="post-tags">
                                {% for tag in post.tags %}
                                <a href="{{ site.baseurl }}/tags#{{ tag | downcase }}" class="post-tags__tag">{{ tag
                                    }}</a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="tabs__tab" id="tab_2" data-tab-info>
            <div class="grid-wall--all-screen">
                <main>
                    {% assign clips = site.data.interactions | sort:"category" | reverse %}
                    {% for post in clips %}
                    {% if post.image %}
                    <a><img src="{{post.image}}" alt="{{post.title}}"></a>
                    {% else if post.clip %}
                    <a><video src="{{post.clip}}" width="100%" height="100%" autoplay muted playsinline
                            loop></video></a>
                    {% endif %}
                    {% endfor %}
                </main>
            </div>
        </div>
        <div class="tabs__tab" id="tab_3" data-tab-info>
            <div class="grid-wall--all-screen">
                <div class="row" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-delay="100"
                    data-aos-duration="700">
                    {% assign story_list = site.data.archive-list | sort: 'date' | reverse | limit: 6 %}
                    {% for post in story_list %}
                    <div class="col col-4 col-d-6 col-t-12" style="text-align: center;">
                        <div class="archive-image">
                            {% if post.images %}
                            {% assign list = post.images %}
                            {% include gallery.html %}
                            {% else %}
                            <a href="{{post.url}}" data-pswp-width="1875" data-pswp-height="2500" target="_blank">
                                <img class="image-zoom" alt="{{post.description}}" src="{{post.image}}" />
                                <div class="archive-overlay" href="{{post.url}}">{{post.description}}</div>
                            </a>
                            {% endif %}
                        </div>
                        <div class="article__meta">
                            <span class="article__date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign
                                    date_format =
                                    site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format
                                    }}</time></span>
                            <a href="{{post.url}}" data-pswp-width="1875" data-pswp-height="2500" target="_blank">
                                <p style="width: 100%;padding-top:0.5rem">{{post.title}}</p>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div style="text-align: center; padding: 1rem;">
                    <a href="/activity-stories/" class="works-button c-button c-button--secondary c-button--small">See
                        more</a>
                </div>
            </div>
        </div>
        <div class="tabs__tab" id="tab_4" data-tab-info>
            <h3>#yummy food photos.</h3>
            <div class="grid-wall--all-screen">
                <iframe src='https://widget-cdfa61b7a8bb43aca8a81e0a42251778.elfsig.ht' width="100%" height="1300px"
                    frameborder="0"></iframe>
                <div style="text-align: center; padding: 1rem;">
                    <a href="https://www.instagram.com/kimdinhson/"
                        class="works-button c-button c-button--secondary c-button--small">See more</a>
                </div>           
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // function to get each tab details
    const tabs = document.querySelectorAll('[data-tab-value]')
    const tabInfos = document.querySelectorAll('[data-tab-info]')
    let current_tab

    tabs.forEach(tab => {
        if (tab.classList.contains("c-tab--active")) {
            current_tab = tab
        }
    })

    tabs.forEach(tab => {
        tab.addEventListener('click', () => {
            const target = document.querySelector(tab.dataset.tabValue);
            tabInfos.forEach(tabInfo => {
                tabInfo.classList.remove('active');
            })
            target.classList.add('active');

            current_tab.classList.add('c-tab--inactive');
            current_tab.classList.remove('c-tab--active');
            tab.classList.add('c-tab--active');
            tab.classList.remove("c-tab--inactive");
            current_tab = tab
        })
    })
</script>