---
layout: default
title: 🗄️Library
permalink: /library/
image: 
order: 3
isMainPage: true
---

<div class="container-full">
<!-- Hero -->
<section class="et-hero-tabs" style="background-image: url('/assets/img/under-water.jpg') !important;">
    <div style="backdrop-filter: blur(10px); padding: 2em;" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
        <h1>{{ page.title | escape }}</h1>
    </div>
{% if site.pages.size == 0 %}
    <p class="text-center">Nothing published yet!</p>
{% else %}
    <div class="et-hero-tabs-container">
        {% assign tabs = site.pages | where_exp:"item","item.isMainPage==false" | sort: 'order' %}
        {% for tab in tabs %}
        <a class="et-hero-tab" href="#tab-{{tab.name | remove: '.html'}}">{{ tab.title }}</a>
        {% endfor %}
        <span class="et-hero-tab-slider"></span>
    </div>

</section>
<!-- Main -->
<main>
    {% assign tabs = site.pages | where_exp:"item","item.isMainPage==false" | sort: 'order' %}
    {% for tab in tabs %}
    <section class="et-slide" id="tab-{{tab.name | remove: '.html'}}">
        {% assign c = "{{tab.name}}-content" %}
        <div class="{{c}}" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-delay="100" data-aos-duration="700">
            {{ tab.content }}
        </div>
    </section>
    {% endfor %}
</main>
{% endif %}
</div>

