---
layout: default
title: Home
---

<!-- Author -->
<section class="container flex justify-center max-w-full p-4">
    <div class="author max-w-2xl" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
        <div class="author__inner">
            <img src="{{site.baseurl}}{{site.author.image}}" alt="{{site.author.name}}" class="author__img">
            <h1 class="author__job">{{ site.author.name }}</h1>
            <div class="author__bio px-4 py-3 rounded-2xl shadow-sm gap-6">
                {% include nav-home.html %}
            </div>
            <div class="hidden-links">
                {% include social-link.html %}
            </div>
        </div>
        <div class="flex justify-center items-center gap-2">
            <div class="author__more">
                <a href="{{site.baseurl}}/about/#now" class="say-hello">Know more</a>
            </div>
            <a href="/sitemap" class="nav__link no-underline p-4">All pages</a>
        </div>
    </div>
</section>
<hr>
<!-- Writings -->
<section id="writings" class="container max-w-full flex justify-center p-4">
    <div class="max-w-2xl" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
        {% include recent-posts.html %}
    </div>
</section>

<!-- Projects -->
<section id="projects" class="container max-w-full p-4">
    <div class="max-w-full" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
        {% include latest-works.html %}
    </div>
</section>

<!-- Experiments -->
<section id="experiments" class="container max-w-full flex justify-center p-4">
    <div class="max-w-full">
        <h2 class="text-center">Experiments</h2>
        <div class="w-full grid-wall--all-screen gap-4">
            {% assign number_of_items = 3 %}
            {% include experiments.html %}
        </div>
        <div class ="pt-8 text-center">
            <a href="{{site.baseurl}}/experiments/"
            class="works-button c-button c-button--secondary c-button--small">Play all</a>
        </div>
    </div>
</section>

<!-- Articles -->
<section id="articles" class="container max-w-full flex justify-center p-4">
    <div class="max-w-2xl" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
        <h2 class="text-center"> Published </h2>
        {% for item in site.data.publish %}
        {% assign category = item[0] %}
        {% assign articles = item[1] %}
        <h4 style="color: gray;">{{ category | replace:'-',' ' | capitalize }}</h4>
        <ul>
            {% for article in articles %}
            <li>
                <a href="{{ article.url }}" class="no-underline" target="_blank">
                    {{ article.alt }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
        <div class ="pt-8 text-center">
            <a href="https://sonkd.notion.site/95bfb5952e93439e8d04c371d88205b1?v=ddaab8b6c0734ed19f0223044719578c"
                class="works-button c-button c-button--secondary c-button--small">More articles</a>
        </div>
    </div>
</section>