---
layout: page
title: Tags
permalink: /tags/
---

<div class="container-full">
{% assign alltags = site.documents | map: 'tags' | join: ','  | split: ','  | group_by: tag | sort: 'name' %}

<section class="tag-list row">
    <div class="col col-8 col-d-6 col-t-12">
        {% for TAG in alltags  %}
        <div data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
        <h4 id="{{ TAG.name | slugify }}" class="linked-section">
            #{{ TAG.name }}&nbsp;({{ TAG.size }})
        </h4>
    
        {% assign alldocs = site.documents %}
        <ul class="list">
            {% for doc in alldocs %}
            {% if doc.tags contains TAG.name %}
                {% if doc.title != null %}            
                <li class="item">
                    <a class="url" href="{% if doc.externalLink %}{{ doc.externalLink }}{% else %}{{ site.url }}{{ doc.url }}{% endif %}">
                    <!-- <aside class="date"><time datetime="{{ doc.date | date:"%d-%m-%Y" }}">{{ doc.date | date: "%b %d %Y" }}</time></aside> -->
                        <h5 style="margin: 16px 0 !important;">{{ doc.title }}</h5>
                    </a>
                    <p class="article__excerpt" style="text-decoration-line: none !important;">{% if doc.description %}{{ doc.description }}{% else %}{{ doc.content |
                        strip_html | truncate: 140 }}{% endif %}</p>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
        </div>
        {% endfor %}
    </div>
    <!-- Cloud tags -->
    <div class="cloud-item col col-4 col-d-6 col-t-12">
        <div class="sticky-cloud">
            <div class="show-cloud">
            {% for tag in alltags %}
                <a href="#{{ tag.name | slugify }}"  style="color:gray; text-decoration-line: none !important ; font-size: {{ tag.size | times: 4 | plus: 80 }}%; padding: {{ tag.size | divided_by: 10 }}px;">
                {{ tag.name }}({{ tag.size }})
                </a>
            {% endfor %}
            </div>
        </div>
        <div class="dupe-cloud">
            <div class="show-cloud">
            {% for tag in alltags %}
            <a href="#{{ tag.name | slugify }}"  style="color:gray; text-decoration-line: none !important ;font-size: {{ tag.size | times: 4 | plus: 80 }}%; padding: {{ tag.size | divided_by: 10 }}px; ">
                {{ tag.name }}({{ tag.size }})
            </a>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
{% assign alldocs = nil %}
{% assign alltags = nil %}

</div>
