---
layout: page
title: Tags
permalink: /tags/
---

{% assign alldocs = site.posts | concat: site.projects | concat: site.micro | concat: site.research %}
{% assign alltags = alldocs | map: 'tags' | join: ',' | split: ',' | uniq | sort %}

<section class="tag-list">
    {% if alltags.size > 0 %}
        {% for tag in alltags %}
        {% if tag != '' %}
        <div>
            <!-- Count the number of documents for the current tag -->
            {% assign tag_docs = alldocs | where_exp: "doc", "doc.tags contains tag" %}
            <h2 id="{{ tag | slugify }}" class="mt-8 font-bold">{{ tag }} ({{ tag_docs.size }})</h2>
            <ul class="ml-4">
                {% for doc in tag_docs %}
                    <li>
                        <a href="{{ doc.url | relative_url }}" class="hover:underline text-red-500">{{ doc.title }}</a>
                        <small>— {{ doc.date | date: "%Y-%m-%d" }}</small>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endfor %}
    {% else %}
        <p>No tags found.</p>
    {% endif %}
</section>
