---
layout: default
title: ♟️Work
permalink: /projects/
image:
order: 2
show: true
isMainPage: true
hasGallery: true
---

<section class="container max-w-full p-4 text-center">
  <h1>{{ page.title | escape }}.Think.Play</h1>
  <p style="color:#757575">80% of thinking and empathy + 20% ideations and delivery = Design for stuffs that people
    love.</p>
</section>

<!-- start add photo wall from data -->
<section id="mywall p-4">
  {% assign list-image = site.data.photo-wall %}
  {% assign show-option = 'photo-wall--only-desktop' %}
  {% include gallery-background.html %}
</section>
<!-- end -->

{% if site.projects.size == 0 %}
  <p class="text-center">Nothing published yet!</p>
{% else %}
<section class="container flex justify-center max-w-full p-2">
  <div class="row w-full max-w-5xl">
    {% assign c = "c-project-card" %}
    <article class="animate {{c}} col col-4 col-d-6 col-t-12" data-aos="fade-up" data-aos-easing="ease-out-quad"
      data-aos-duration="{{delay-time}}">
      <div class="{{c}}__content">
        <a href="{{ site.author.play }}" class="{{c}}__image">>
          <img loading="lazy" src="{{site.baseurl}}/assets/img/rick_man.webp" alt="Play Zone">
        </a>
        <div class="{{c}}__info">
          <div class="{{c}}__info-wrap">
            <h3 class="{{c}}__title">PLAY ZONE</h3>
          </div>
          <div class="{{c}}__info-wrap">
            <div class="{{c}}__subtitle">Simple.Stupid.Fun</div>
          </div>
        </div>
      </div>
    </article>

    {% if paginator.total_pages > 1 %}
    {% assign delay-time = 600 %}
    {% for project in paginator.posts %}
    <article class="{{c}} col col-4 col-d-6 col-t-12" data-aos="fade-up" data-aos-easing="ease-out-quad"
      data-aos-duration="{{delay-time}}">
      <div class="{{c}}__content">
        {% if project.image %}
        <a href="{{ project.url | prepend: site.baseurl }}" class="{{c}}__image">
          <img loading="lazy" src="{{ project.image }}" alt="{{ project.title }}">
        </a>
        <div class="{{c}}__small-title">{{ project.title }}</div>
        {% else %}
        <a href="{{ project.url | prepend: site.baseurl }}" class="{{c}}__image">>
          <img loading="lazy" src="{{site.baseurl}}/assets/img/infinity.png" alt="{{project.title}}">
        </a>
        <div class="{{c}}__small-title">{{ project.title }}</div>
        {% endif %}
        <div class="{{c}}__info">
          <div class="{{c}}__info-wrap">
            <h3 class="{{c}}__title">{{ project.title }}</h3>
          </div>
          <div class="{{c}}__info-wrap">
            {% if project.summary %}
            <div class="{{c}}__subtitle">{{ project.summary }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </article>
    {% assign delay-time = delay-time | plus: 150 %}
    {% endfor %}
    {% include pagination-nav.html %}
    {% else %}
    {% assign delay-time = 600 %}
    {% for project in site.projects reversed %}
    <article class="{{c}} col col-4 col-d-6 col-t-12" data-aos="fade-up" data-aos-easing="ease-out-quad"
      data-aos-duration="{{delay-time}}">
      <div class="{{c}}__content">
        {% if project.image %}
        <a href="{{ project.url | prepend: site.baseurl }}" class="{{c}}__image-2">
          <img loading="lazy" src="{{ project.image }}" alt="{{ project.title }}">
          <div class="{{c}}__heading">
            {% if project.company %}
            <div class="{{c}}__company">{{ project.company }}</div>
            {% else %}
            <div class="{{c}}__company">{{ project.tag[0] }}, {{ project.tag[1] }}</div>
            {% endif %}
            <div class="{{c}}__big-title">{{ project.title }}</div>
          </div>
        </a>
        {% else %}
        <a href="{{ project.url | prepend: site.baseurl }}" class="{{c}}__image-2">
          <img loading="lazy" src="{{site.baseurl}}/assets/img/infinity.png" alt="{{ project.title }}">
          <div class="{{c}}__heading">
            {% if project.company %}
            <div class="{{c}}__company">{{ project.company }}</div>
            {% else %}
            <div class="{{c}}__company">{{ project.tag[0] }}, {{ project.tag[1] }}</div>
            {% endif %}
            <div class="{{c}}__big-title">{{ project.title }}</div>
          </div>
        </a>
        {% endif %}
      </div>
    </article>
    {% assign delay-time = delay-time | plus: 150 %}
    {% endfor %}
    {% endif %}
  </div>
</section>
{% endif %}