@use "0-settings/variables";
/* Article */
.article {
  display: flex;
  padding: 1rem;
  margin-bottom: .5rem;
  &:hover {
    // background-color: variables.$gray-100;
    outline: 1px solid variables.$background-color-4;
    /*
    outline-offset: calc(1.5rem - 8px);
    outline-offset: -webkit-calc(1.5rem - 8px);
    outline-offset: -moz-calc(1.5rem - 8px);
    */
    border-radius: 1rem;
    .article__title a {
        color: variables.$primary-color;
    }
  }

  @media #{variables.$mobile} {
    padding: 1rem 0;
    &:hover {
      // background-color: variables.$gray-100;
      outline: none
    }
  }
}

.article__image-box {
  display: table;
  /*margin-right: 30px;*/
  @media #{variables.$mobile} {
    display: none;
  }
}

.article__content {
  width: 100%;
  padding-right: 2rem;
}

.article__image {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: variables.$background-color-3;
}

.article__title {
  margin: 0;
  padding-block-end: .5rem
}

.article.article__content.article__title {
  a {
    &:hover {
      color: variables.$primary-color;
    }
  }
}

.article__meta {
  margin-bottom: .5rem;
  font-family: variables.$font-monospace;
  font-size: variables.$caption-size;
  text-transform: uppercase;
  color: variables.$tertiary-color;
}

.article__excerpt {
  margin-bottom: 0 !important;
  font-size: 1rem;
  color: variables.$gray
}

.read-more {
  font-weight: 700;
  font-size: 1rem;
  color: variables.$primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


