/* Article */
.article {
  display: flex;
  margin-bottom: 50px;
  &:hover {
    outline: 1px solid $gray-lighten;
    outline-offset: 1rem;
    border-radius: .5rem;
  }
}

.article__image-box {
  display: table;
  /*margin-right: 30px;*/
  @media (max-width: $mobile) {
    display: none;
  }
}

.article__content {
  width: 100%;
}

.article__image {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $gray-white;
}

.article__title {
  margin: 0;
  a {
    font-size: $h2-size;
    font-weight: 400;
    line-height: 38px;
    padding-block-end: .5rem;
    color: $primary-text-color;
    &:hover {
      color: $primary-color;
    }
  }
}

.article__meta {
  margin-bottom: .5rem;
  font-family: 'IBM Plex Mono', monospace;
  font-size: $caption-size;
  line-height: $caption-ligh_height;
  text-transform: uppercase;
  color: $tertiary-color;
}

.article__excerpt {
  margin-bottom: 15px;
  font-size: $body-size;
  line-height: $caption-ligh_height;
  color: $gray;
}

.read-more {
  font-weight: 700;
  font-size: $body-size;
  line-height: $body-line_height;
  color: $primary-color;
  &:hover {
    text-decoration: underline;
  }
}


