/* Tag Page */
.tag {
  margin-top: 80px;
  margin-bottom: 80px;
}

.tag__head {
  margin-bottom: 80px;
  padding-bottom: 70px;
  text-align: center;
  border-bottom: 1px solid $border-1-color;
}

.tag__title {
  margin: 0;
  font-size: 50px;
  line-height: 55px;
  text-transform: capitalize;
}


.tag-list.list {

  .item {
    display: block;
    // width: 80%
    margin: 0 1rem;

    .url {
      width: 100%;
      height: 100%;
      display: block;
      padding: 2rem 0;
      text-decoration: none;

      .title {
        margin: 0;
        width: 75%;
        font-weight: 400;
        transition: all ease-in-out .2s;
        font-size: 1.25rem
      }
    }

    &hover.url.title {
      color: $primary-color
    }
  }

  // maybe we can't nest html5 elements
  // can you help me?
  aside {
    position: relative;
    top: 2px;
    margin: 0;
    width: 25%;
    float: right;
    font-weight: 300;
    color: $gray;
    text-align: right;
    transition: all ease-in-out .2s;
    font-size: .875rem
  }

  .item:hover .url aside {
    color: $primary-color
  }
}

.tag-item {
  font-weight: 400;
  // text-transform: uppercase
  text-align: center;
  margin-bottom: 4rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // padding: .125rem .125rem
  // border-radius: 3px
  font-size: .875rem;
  // background: $epsilon
  color: $dark;
  // letter-spacing: 1px
  margin: 0 .25rem .25rem;
  text-decoration: none;
  display: inline-block
}

.linked-section {
  color: $gray;
}

.cloud-item {
  text-decoration-line: none;

  .sticky-cloud {
    position: sticky;
    top: 4.5rem;
    z-index: 999;

    height: 0;
    /* this will make them above each other */
  }

  .sticky-cloud>*:not(.show-cloud) {
    visibility: hidden;
  }

  .dupe-cloud>.show-cloud {
    visibility: hidden;
  }

}