@use "0-settings/variables";
.container {
  max-width: variables.$mobile;
}

.container-full {
  max-width: variables.$desktop;
}

.container,
.container-full {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}