<div class="row" id ="my-activities">
    {% if site.data.archive-list.size == 0 %}
	<p class="text-center">Nothing published yet!</p>
	{% else %}
    {% assign posts = site.data.archive-list | sort: 'date' | reverse %}
    {% assign posts_by_year = posts | group_by:"year" %}
    <div class="year-side-bar col col-1 col-t-2 col-m-2" style="text-align: left;">
        <div class="sticky-info">
            <div class="show-date years-list">
                {% for year in posts_by_year %}
                <a href="#{{year.name}}" class="year-tab">{{year.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="dupe-info">
            <div class="show-date years-list">
                {% for year in posts_by_year %}
                <a href="#{{year.name}}">{{year.name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col col-11 col-t-8 col-m-10">
    {% for year in posts_by_year %}
        <h4 id="{{year.name}}" style="margin-top: 0;">🗓️ {{year.name}}</h4>
        {% assign year-filter = year.name %}
        {% assign posts-in-year = posts | where: 'year', year-filter %}
        {% for post in posts-in-year %}
        <div class="row" style="text-align: left; padding: 1rem 0;">
            <div class="col col-3 col-t-12">
                <div class="article__meta">
                    <p><span class="article__date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format =
                    site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format
                    }}</time></span></p>
                    <p> {% if post.url %}
                        <a class="archive-story" href="{{post.url}}" data-pswp-width="1875" data-pswp-height="2500" target="_blank">
                            {{post.title}}
                            </a>
                        {% else %}
                            {{post.title}}
                        {% endif %}
                        <br>
                        {{post.description}}
                    </p>
                </div>
            </div>
            <div class="col col-9 col-t-12">
                <div class="archive-image">
                    {% if post.images %}
                        {% assign galleryID = post.id %}
                        {% assign list = post.images %}
                        {% include gallery.html %}
                    {% else %}
                    <a class="flex justify-center" href="{{post.url}}" target="_blank">
                        <img class="image-zoom object-center" alt="{{post.description}}" src="{{post.image}}" />
                        <!-- <div class="archive-overlay" href="{{post.url}}">{{post.description}}</div> -->
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
</div>