{% if site.projects.size > 0 %}
<h2 class="text-center">Latest works</h2>
<div class="row">
  {% assign c = "c-project-card" %}
  {% assign projects = site.projects | reverse %}
  {% assign delay-time = 600 %}
  {% for project in projects | limit : 3 %}
  <article class="{{c}} col col-4 col-d-6 col-t-12" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="{{delay-time}}">
  <div class="{{c}}__content">
    {% if project.image %}
    <a href="{{ project.url | prepend: site.baseurl }}" class="{{c}}__image-2">
      <img loading="lazy" src="{{ project.image }}" alt="{{ project.title }}">
      <div class="{{c}}__heading">
        {% if project.company %}
          <div class="{{c}}__company">{{ project.company }}</div>
        {% else %}
          <div class="{{c}}__company">{{ project.tag[0] }}, {{ project.tag[1] }}</div>
        {% endif %}
        <div class="{{c}}__big-title">{{ project.title }}</div>
      </div>
    </a>
    {% else %}
    <a href="{{ project.url | prepend: site.baseurl }}" class="{{c}}__image-2">
      <img loading="lazy" src="{{site.baseurl}}/assets/img/infinity.png" alt="{{ project.title }}">
      <div class="{{c}}__heading">
        {% if project.company %}
          <div class="{{c}}__company">{{ project.company }}</div>
        {% else %}
          <div class="{{c}}__company">{{ project.tag[0] }}, {{ project.tag[1] }}</div>
        {% endif %}
        <div class="{{c}}__big-title">{{ project.title }}</div>
      </div>
    </a>
    {% endif %}
  </div>
  </article>
  {% assign delay-time = delay-time | plus: 150 %}
  {% endfor %}
</div>
<div class="text-center pt-8">
  <a href="{{site.baseurl}}/projects/" class="works-button c-button c-button--secondary c-button--small">More works</a>
</div>
{% endif %}