{% assign nav_list = site.data.shortcuts | sort: 'order' %}
<div class="relative h-12 overflow-hidden">
  <div class="animate-flash-messages text-base h-16 flex-col">
  {% for page in nav_list %}
  {% if page.intro %}
    <div class="h-16">{{ page.intro }}</div>
  {% endif %}
  {% endfor %}
  </div>
</div>
<nav class="nav-home overflow-x-auto whitespace-nowrap scrollbar-hide">
  <div class="flex flex-wrap gap-2 snap-x">
    {% for page in nav_list %}
    {% if page.text %}
    <a href="{{ page.link }}"
      class="nav__link snap-start outline-button px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded-lg mx-2 transition-all duration-200 inline-flex items-center justify-center">
      {{ page.text }}
    </a>
    {% endif %}
    {% endfor %}
  </div>
</nav>