<nav class="pagination">
  <div class="container">
    <div class="pagination__inner">

      <div class="pagination__list">
               
        <a class="pagination__prev" href="" data-pagebreak-control="prev"><i class="ion ion-ios-arrow-back"></i>Previous</a>
        <div class="pagination__count">
        Page 
        <span data-pagebreak-label="current">1</span>
        of
        <span data-pagebreak-label="total">1</span>
        </div>
        <a class="pagination__next" href="" data-pagebreak-control="next">Next<i class="ion ion-ios-arrow-forward"></i></a>
        
      </div>

    </div>
  </div>
</nav>