
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="pagination__prev"><i class="lni lni-angle-double-left"></i>Previous</a>
  {% else %}
  <span class="pagination__prev hidden"><i class="lni lni-angle-double-left"></i> Previous</span>
  {% endif %}

  <span class="pagination__count">page {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
  <a href="{{ site.url }}{{ paginator.next_page_path }}" class="pagination__next">Next<i class="lni lni-angle-double-right"></i></a>
  {% else %}
  <span class="pagination__next hidden">Next<i class="lni lni-angle-double-right"></i></span>
  {% endif %}
</div>