<div class="grid" id="grid">
    <img class="photo-card" src="https://i.imgur.com/IY1jUoB.jpg" href="https://www.instagram.com/p/BnrVNA_F95p/" alt="Girl in a jacket" width="500" height="600">
    <img class="photo-card" src="https://i.imgur.com/IY1jUoB.jpg" href="https://www.instagram.com/p/BnrVNA_F95p/" alt="Girl in a jacket" width="500" height="600">
    <img class="photo-card" src="https://i.imgur.com/IY1jUoB.jpg" href="https://www.instagram.com/p/BnrVNA_F95p/" alt="Girl in a jacket" width="500" height="600">
    <img class="photo-card" src="https://i.imgur.com/IY1jUoB.jpg" href="https://www.instagram.com/p/BnrVNA_F95p/" alt="Girl in a jacket" width="500" height="600">
    <img class="photo-card" src="https://i.imgur.com/IY1jUoB.jpg" href="https://www.instagram.com/p/BnrVNA_F95p/" alt="Girl in a jacket" width="500" height="600">
    <img class="photo-card" src="https://i.imgur.com/IY1jUoB.jpg" href="https://www.instagram.com/p/BnrVNA_F95p/" alt="Girl in a jacket" width="500" height="600">
    <img class="photo-card" src="https://i.imgur.com/IY1jUoB.jpg" href="https://www.instagram.com/p/BnrVNA_F95p/" alt="Girl in a jacket" width="500" height="600">

</div>  