<div class="row" id ="my-activities" data-pagebreak="20" data-pagebreak-url="./:num/">
    {% if site.data.archieve-list.size == 0 %}
	<p class="text-center">Nothing published yet!</p>
	{% else %}
        {% assign list = site.data.archieve-list | sort: 'date' | reverse %}
        {% for post in list %}
        <div class="col col-3 col-d-6 col-t-12" style="text-align: center;">
            <div class="archieve-image">
                <img class="image-zoom" alt="{{post.description}}" src="{{post.image}}" />
                <div class="archieve-overlay" href="{{post.url}}">{{post.description}}</div>  
            </div>
            <div class="article__meta">
                <span class="article__date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format =
                site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format
                }}</time></span>
                <a href="{{post.url}}" data-pswp-width="1875" data-pswp-height="2500" target="_blank">
                    <p style="width: 100%;padding-top:0.5rem">{{post.title}}</p>
                </a>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% include pagination-nav.html %}