<div class="row" data-pagebreak="20" data-pagebreak-url="./:num/">
    {% if site.data.archieve-list.size == 0 %}
	<p class="text-center">Nothing published yet!</p>
	{% else %}
    {% for post in site.data.archieve-list | sort: 'date' | reverse %}
    <div class="col col-3 col-d-6 col-t-12" style="text-align: center;">
        <div class="archieve-image">
            <img alt="{{post.description}}" src="{{post.image}}" />
            <div class="archieve-overlay" href="{{post.url}}"><a href="{{post.url}}">{{post.description}}</a></div>  
        </div>
        <p style="color:gray; width: 100%;padding-top:0.5rem">{{post.date}}<br>{{post.title}}</p>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% include pagination-nav.html %}