{% assign posts = site.blog | where: 'hidden', "false" | reverse %}
{% if posts.size > 0 %}
<h2 style="text-align: center;">Recent writings</h2>
{% for post in posts limit: 3 %}
<div class="article gap-4" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
    <div class="article__content">
        <div class="article__meta">
            <span class="article__date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format =
                    site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format
                    }}</time></span>
        </div>
        <h3 class="article__title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
        </h3>
        <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content |
            strip_html | truncate: 130 }}{% endif %}</p>
        {% if post.tags.size >= 1 %}
        <div class="post-tags" style="margin-bottom: 0px !important;">
            {% for tag in post.tags %}
            <a href="{{ site.baseurl }}/tags#{{ tag | slugify | downcase }}" class="post-tags__tag">{{ tag }}</a>
            {% endfor %}
         </div>
        {% endif %}
    </div>
    {% if post.image %}
    <div class="article__image-box">
        <a href="{{post.url | prepend: site.baseurl}}" class="article__image"
            style="background-image: url({{site.baseurl}}{{post.image}})" aria-label="{{post.title}}"></a>
    </div>
    {% else %}
    <div class="article__image-box">
        <a href="{{post.url | prepend: site.baseurl}}" class="article__image"
            style="background-image: url({{site.baseurl}}/assets/img/infinity.png)" aria-label="{{post.title}}"></a>
    </div>
    {% endif %}
</div>
{% endfor %}
<div style="text-align: center;">
    <a href="{{site.baseurl}}/blog/" class="works-button c-button c-button--secondary c-button--small">More stories</a>
</div>
{% endif %}