<div class="show-comments">
    <button class="disqus-button" id="show-comments-button" onclick="disqus();return false;">Leave a comment</button>
</div>

<div id="disqus_thread"></div>
<script>
  var disqus_loaded = false;
  var disqus_config = function () {
    this.page.url = '{{ site.url }}{{ page.url | replace:"index.html","" }}';
    this.page.identifier = '{{ page.id }}';
  };
  var disqus_shortname = '{{ site.disqus.shortname }}'; // Add your shortname here

  function disqus() {
    if (!disqus_loaded) {
      disqus_loaded = true;
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      // Hide the button after opening
      document.getElementById("show-comments-button").style.display = "none";
    }
  }
</script>
<noscript>Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
