@use "0-settings/variables";
.archive-image {
    position:relative;
    width: 100%;
    background-color: variables.$dark;
    border-radius: 1.2rem;
    overflow: hidden;
    display:inline-block;
}
.archive-overlay {
    display:none;
}
.archive-overlay a{
    color: white;
    text-decoration: underline;
}

.archive-story {
    font-weight: 700;
    width: 100%;
    padding-top:0.5rem;
    margin-bottom: 0;
}

.archive-image:hover .archive-overlay {
    width:100%;
    height:400px;
    padding: 1rem;
    border-radius: 1.5rem;
    background:rgba(0,0,0,.5);
    position:absolute;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    top:0;
    left:0;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    color:white;
    font-size:1rem;
}

.archive-image img{
    vertical-align:top;
    width:100%;
    height: 400px;
    min-height:300px;
    object-fit: cover;
    border-radius: 1.5rem;
}

.year-side-bar {
    text-align: left;

    .sticky-info {
        position: sticky;
        top: 4.5rem;
        z-index: 999;

        height: 0;
        /* this will make them above each other */
    }

    .sticky-info>*:not(.show-date) {
        visibility: hidden;
    }

    .dupe-info>.show-date {
        visibility: hidden;
    }
}