/* Author */
.author {
  margin: 4rem 0;
  padding-bottom: 4rem;
  border-bottom: 1px solid $border-1-color;
  @media #{$mobile} {
    margin: 2rem 0;
    padding-bottom: 2rem;
  }
}

.author__img {
  display: block;
  width:auto;
  height: auto;
  max-width: 130px;
  max-height: 130px;
  margin: 0 auto 2rem;
  border-radius: 50%;
  background-color: $background-color-2;
  transition: opacity 100ms ease;
  &:hover {
    .avatar {
      opacity: 0.9;
    }
  }
}

.author__job {
  margin-bottom: 0;
  font-size: 4rem;
  text-align: center;
  color: $primary-text-color;
}

.author__bio {
  max-width: 450px;
  margin: 0 auto 2rem;
  font-size: 1rem;
  line-height: $body-line_height;
  text-align: center;
  color: $sub-text-color;
}

.author__more {
  text-align: center;
}

a.say-hello {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  color: white;
  background-color: $primary-color;
  transition: all 150ms ease-in-out;
  &:hover {
    transform: translate(0px, -5px);
    box-shadow: 0 10px 20px -4px rgba(30,28,122,0.3);
  }
}

a.know-more {
  margin-left: 25px;
  font-size: 1rem;
  font-weight: 700;
  color: $dark;
  text-decoration: underline;
  &:hover {
    color: $primary-color;
  }
}
