@use "0-settings/variables";
/* Author */
.author {
  padding-bottom: 2rem;

  @media #{variables.$mobile} {
    margin: 2rem 0;
    padding-bottom: 2rem;
  }
}

.author__img {
  display: block;
  width:auto;
  height: auto;
  max-width: 130px;
  max-height: 130px;
  margin: 0 auto 2rem;
  border-radius: 50%;
  background-color: variables.$background-color-gray-lighter;
  transition: opacity 100ms ease;
  &:hover {
    .avatar {
      opacity: 0.9;
    }
  }
}

.author__job {
  margin-bottom: 0;
  font-size: 2rem;
  text-align: center;
  color: variables.$primary-text-color;
}

.author__bio {
  max-width: 100%;
  margin: 1rem 0rem 3rem;
  text-align: center;
  color: variables.$sub-text-color;
  background-color: variables.$background-color-3;
}

.author__more {
  text-align: center;
}

a.say-hello {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: variables.$body-size;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  color: white;
  background-color: variables.$primary-color;
  transition: all 150ms ease-in-out;
  &:hover {
    transform: translate(0px, -5px);
    box-shadow: 0 10px 20px -4px rgba(30,28,122,0.3);
  }
}

a.know-more {
  margin-left: 25px;
  font-size: 1rem;
  font-weight: 700;
  color: variables.$dark;
  text-decoration: underline;
  &:hover {
    color: variables.$primary-color;
  }
}
