/* Footer */
.footer {
  margin-top: 80px;
  padding: 60px 0;
  border-top: 1px solid $gray-lighten;
  @media (max-width: $mobile) {
    margin-top: 50px;
    padding: 50px 0;
  }
}

.contact {
  text-align: center;
}

.contact__title {
  margin-bottom: 30px;
  font-size: 15px;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 25px;
  color: $gray-dark;
  a {
    font-family: 'Lora', serif;
    color: $dark;
  }
}

.contact__item {
  display: inline-block;
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
}

.contact__link {
  font-size: 16px;
  color: $dark;
}

@media all {
  .footer .social {
    margin-bottom: 40px
  }
  
  .footer .social .social__item {
    margin: 0 .5rem;
    font-size: 0
  }
  
  .footer .social .social__link {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    background: $primary-color;
    transition: all .25s;
    will-change: transform
  }
  
  .footer .social .social__link:hover {
    transform: scale(.9);
    color: white
  }
  
  .footer .social .social__link:hover:after {
    content: none
  }
  
  .footer .social .social__link:after {
    content: none
  }
}
