/* grid wall */

.grid-wall--all-screen {
    margin: 20px 0;

    display: flex;
    width: 100%;
    position: relative;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media #{$mobile} {
    .grid-wall--all-screen main {
        width: 100%;
        /* display the anchor links in a grid */
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
        /* center the content horizontally & vertically */
        justify-content: left;
        align-content: center;
        grid-auto-flow: dense;
    
        /* remove overflow to give the impression of a zoom when scaling the image up */
        a {
            overflow: hidden;
            margin: 16px;
            border-radius: 20px
        }
    
        /* the default overflow is substituted by the scale/brightness of the nested images */
        a:focus {
            outline: none;
            transform: scale(1.3);
        }
    
        img {
            object-fit: contain;
            display: block;
            width: 100%;
            height: auto;
            background-color: $background-color-4;
            /* transition the scale and brightness of the image when hover/focus-ing on the anchor link */
            filter: brightness(0.8);
            transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            transform: scale(1);
        }
    }
}

@media #{$desktop} {
.grid-wall--all-screen main {
    width: 100%;
    /* display the anchor links in a grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    /* center the content horizontally & vertically */
    justify-content: left;
    align-content: center;
    align-items: center;
    grid-auto-flow: dense;

    /* remove overflow to give the impression of a zoom when scaling the image up */
    a {
        overflow: hidden;
        margin: 16px;
        border-radius: 20px
    }

    /* update the size of a few selected cells */
    a:nth-of-type(1) {
        grid-column: span 2;
        grid-row: span 2;
    }

    /* the default overflow is substituted by the scale/brightness of the nested images */
    a:focus {
        outline: none;
    }

    img {
        object-fit: contain;
        display: block;
        z-index: 2;
        width: 100%;
        height: auto;
        max-height: 400px;
        background-color: $background-color-4;
        /* transition the scale and brightness of the image when hover/focus-ing on the anchor link */
        filter: brightness(0.8);
        transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transform: scale(1);
    }

    a:focus img,
    a:hover img {
        filter: brightness(1);
        transform: scale(1.3);
    }
}}