@use "0-settings/variables";
/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  .hidden {
    visibility: hidden
  }
}

.pagination__prev,
.pagination__count,
.pagination__next {
  padding: 16px 20px;
  font-size: variables.$body-size;
  font-weight: 700;
  line-height: calc(variables.$body-line_height - 8px);
  border-radius: 16px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.07);
  background-color: variables.$background-color-4;

  @media #{variables.$mobile} {
    padding: 16px;
  }
}

.pagination__prev,
.pagination__next {
  font-size: variables.$body-size;
  text-decoration-line: none;
  color: variables.$primary-color;
  will-change: transform;

  &.disabled {
    color: rgba(variables.$primary-color, 0.4);

    &:hover {
      i {
        transform: none;
      }
    }
  }
}

.pagination__prev {
  &:hover {
    i {
      transform: translateX(-1px);
    }
  }

  i {
    margin-right: 2px;
    transition: .2s;
  }

}

.pagination__next {
  &:hover {
    i {
      transform: translateX(1px);
    }
  }

  i {
    margin-left: 2px;
    transition: .2s;
  }
}

.pagination__count {
  margin: 0 6px;
  font-size: variables.$body-size;
  font-weight: 600;
  color: rgba(variables.$gray, 0.7);
  background-color: variables.$background-color-3;
}