@use "0-settings/variables";
/* Social nav */
.social {
  text-align: center;

  h1, h2, h3, h4, h5, h6, ul, li {
    margin-bottom: 0 !important;
  }

  ul {
    padding-left: 0 !important;
  }
}

.social__list {
  display: inline-block;
}

.social .social__item {
  display: inline-block;
}

.social .social__link {
  position: relative;
  z-index: 1;
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Vertically center the SVG */
  justify-content: center; /* Horizontally center the SVG */
  width: 48px; /* Button size */
  height: 48px; /* Button size */
  border-radius: 50%; /* Make it circular */
  background-color: variables.$dark; /* Purple background */
  transition: all 0.25s;
}

.social .social__link svg {
  width: 24px; /* Icon size */
  height: 24px; /* Icon size */
  fill: white; /* Icon color */
}

.social .social__link:hover {
  background-color: variables.$primary-color; /* Change background on hover */
}

.social .social__link:hover svg {
  fill: variables.$secondary-color; /* Change icon color on hover */
}