/* Social nav */
.social {
  text-align: center;

  h1,h2,h3,h4,h5,h6,ul,li {
    margin-bottom: 0 !important;
  }
  ul {
    padding-left: 0 !important
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.social .social__item {
  display: inline-block;

  /* margin: 0 2px; */
  a {
    color: $dark;
  }
}

.social .social__link {
  position: relative;
  z-index: 1;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1rem
}

.social .social__link:hover {
  color: white
}

.social .social__link:hover:after {
  transform: translate3d(-50%, -50%, 0) scale(.9)
}

.social .social__link:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 25%;
  transform: translate3d(-50%, -50%, 0) scale(0);
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  /*background: linear-gradient(90deg,#6b69fa 0%,#312fa4 167%);*/
  background: $dark;
  transition: all .25s
}