
.et-hero-tabs {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    background-image: url('/assets/img/under-sea.gif') !important;
    object-fit: cover;
    height: 100%;
    background-size: cover;
}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93vh;
    position: relative;
	text-align: center;
	padding: 0 2em;
    h1 {
        font-size: 1.5rem;
        margin: 0;
        letter-spacing: 1rem;
    }
    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
}

.et-slide {
    height: 100% !important;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 87vh;
    width: 100%;
    height: 8vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: white;
    z-index: 1000;
    &--top {
        position: fixed;
        top: 0;
    }
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: $dark;
    text-decoration-line: none !important;
    letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 0.8rem;
	  &:hover {
			color:white;
      background: $primary-color;
			transition: all 0.5s ease;
    }
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: $primary-color;
    transition: left 0.3s ease;
}


@media (min-width: 768px) {
	.et-hero-tabs,
	.et-slide {
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
	}
	.et-hero-tab {
		font-size: 1rem;
	}
}