*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: $primary-font-1;
  font-size: $body-size;
  color: $dark;
  background-color: $global-bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input, textarea {
    border: 1px solid #f9f9f9;
    outline: none;
    &:focus:required:invalid {
      border-color: #e02f40;
    }
    &:required:valid {
      border-color: #34a74e;
    }
    }
}

::placeholder {
	color: $gray;
}

*::selection {
  color: white;
  background-color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3rem 0 2rem;
  font-family: $primary-font-2;
  line-height: initial;
  font-weight: 400;
  letter-spacing: 0.2px;
}

h4 {
  font-weight: 500 !important;

  a {
    text-decoration-line: none !important
  }
}

h1 {
  font-size: $h1-size;

  a {
    text-decoration-line: none !important
  }
}

h2 {
  font-size: $h2-size;

  a {
    text-decoration-line: none !important
  }
}

h3 {
  font-size: $h3-size;

  a {
    text-decoration-line: none !important
  }
}

h4 {
  font-size: $h4-size;

  a {
    text-decoration-line: none !important
  }
}

h5 {
  font-size: $h5-size;

  a {
    text-decoration-line: none !important
  }
}

h6 {
  font-size: $h6-size;

  a {
    text-decoration-line: none !important
  }
}

blockquote {
  padding-left: 30px;
  font-family: $primary-font-2;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  border-left: 1px solid $secondary-color;

  p {
    line-height: $quote-line_height !important;
    letter-spacing: 0.3px;
    color: $gray !important;
  }
}

pre {
  overflow: auto;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  &+em {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    color: $gray;
  }
}

a {
    /*text-decoration: none;*/
    /*color: $primary-color;*/
    color: $dark;
    text-decoration-line: underline;
    transition: color 200ms;

    &:hover {
        color: $primary-color;
    }
}

hr {
  display: block;
  width: 6px;
  height: 6px;
  margin: 45px auto;
  border-radius: 50%;
  border: 0;
  background: $secondary-color;
}

figcaption {
  position: relative;
  top: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-size: calc($body-size * 0.75);
  font-size: -webkit-calc($body-size * 0.75);
  font-size: -moz-calc($body-size * 0.75);
  color: $sub-text-color;
  font-weight: 300;

  @media #{$mobile} {
    font-size: calc($body-size * 0.5);
    font-size: -webkit-calc($body-size * 0.5);
    font-size: -moz-calc($body-size * 0.5);
  }
}