@use "sass:color";
@use "0-settings/variables";
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: variables.$primary-font-1;
  font-size: variables.$body-size;
  color: variables.$dark;
  background-color: variables.$global-bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  input,
  textarea {
    border: 1px solid #f9f9f9;
    outline: none;

    &:focus:required:invalid {
      border-color: #e02f40;
    }

    &:required:valid {
      border-color: #34a74e;
    }
  }
}

@media (hover: hover) and (pointer: fine){
  html:hover {
    cursor: variables.$cursor-default;
  }

  a:hover {
    cursor: variables.$cursor-pointer;
  }
  h1,h2,h3,h4,h5,h6,ul,li,p:hover {
    cursor: variables.$cursor-text;
  }
}

::placeholder {
  color: variables.$gray;
}

*::selection {
  color: white;
  background-color: variables.$primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 1rem;
  font-family: variables.$primary-font-2;
  line-height: initial;
  font-weight: 400;
  letter-spacing: 0.2px;
}

h1 {
  font-size: variables.$h1-size;

  a {
    text-decoration-line: none 
  }
}

h2 {
  font-size: variables.$h2-size;

  a {
    text-decoration-line: none
  }
}

h3 {
  font-size: variables.$h3-size;

  a {
    text-decoration-line: none
  }
}

h4 {
  font-size: variables.$h4-size;

  a {
    text-decoration-line: none
  }
}

h5 {
  font-size: variables.$h5-size;

  a {
    text-decoration-line: none
  }
}

h6 {
  font-size: variables.$h6-size;

  a {
    text-decoration-line: none
  }
}

blockquote {
  padding-left: 30px;
  font-family: variables.$primary-font-2;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  border-left: 1px solid variables.$secondary-color;

  p {
    line-height: variables.$quote-line_height !important;
    letter-spacing: 0.3px;
    color: variables.$gray !important;
  }
}

pre {
  overflow: auto;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

img {
  max-width: 100%;
  // height: auto;
  vertical-align: middle;

  &+em {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    color: variables.$gray;
  }
}

a {
  color: variables.$primary-color;
  color: variables.$primary-text-color;
  // text-decoration: none;
  transition: color 200ms;

  &:hover {
    color: variables.$active-text-color;
  }

  &[target="_blank"]::after {
    content: " \2197";
    font-size: variables.$tiny-font-size;
    line-height: 0;
    position: relative;
    bottom: 5px;
    vertical-align: baseline;
  }
}

hr {
  counter-increment: hr;
  text-align: center;
  position: relative;
  background: none;
  margin: 3em 1em;
  border: 0;
  border-top: dashed 1px #dddddd;

  &:before {
    background: white;
    width: 50%;
    margin-left: -25%;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    color: color.adjust(black, variables.$lightness: 20%);
  }

  &:after {
    position: absolute;
    margin-left: -71px;
    margin-top: -71px;
    opacity: 0.05;
    line-height: 0;
  }
}

figcaption {
  position: relative;
  top: -1.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-size: calc(1rem * 0.75);
  font-size: -webkit-calc(1rem * 0.75);
  font-size: -moz-calc(1rem * 0.75);
  color: variables.$sub-text-color;
  font-weight: 300;

  @media #{variables.$mobile} {
    font-size: calc(1rem * 0.5);
    font-size: -webkit-calc(1rem * 0.5);
    font-size: -moz-calc(1rem * 0.5);
  }
}