// ******************************************************************
// Atomic Variables
// ******************************************************************

/* Color */

$white: #fff;

$gray-100:#f5f5f5;
$gray-200:#EFEFEF;
$gray-300:#D1D1D1;
$gray-400:#757575; /* #999 */
$gray-500:#666;
$gray-600:#333;
$gray-700:#131313;

$black: #000;

$yellow-100: #fffefb;
$yellow-200: #FFEABC;
$yellow-300: #FFDB9B;
$yellow-400: #FFCC82;
$yellow-500: #ffb459;
$yellow-900: #7A3711;

$blue-100: #d9fcff;
$blue-200: #B3F5FF;
$blue-300: #8DE9FF;
$blue-400: #71DBFF;
$blue-500: #42C3FF;
$blue-900: #0C3A7A;

$violet-100:#e1e1fe;
$violet-200:#C4C3FE;
$violet-300:#A6A5FD;
$violet-400:#908EFB;
$violet-500:#6b69fa;
$violet-900:#141477;

/* Typography */
$fontSerif: 'Lora', Georgia, Times, 'Times New Roman', serif;
$fontSansSerif: 'IBM Plex Sans Condensed', sans-serif;
$fontMonospace: "IBM Plex Mono",monospace; /*"Consolas", Liberation Mono, Menlo, Courier, monospace*/

// ******************************************************************
// Configurations
// ******************************************************************

/* Screen size */
$mobile: "only screen and (max-width: 576px)";
$tablet: "only screen and (min-width: 576px) and (max-width: 1024px)";
$desktop: "only screen and (min-width: 1024px)";

$above: "only screen and (min-width: 768px)";
$below: "only screen and (max-width: 768px)";

/* Color */
$dark: $gray-600;
$gray: $gray-400;

$primary-text-color: $dark;
$sub-text-color: $gray-400;

$primary-color: $violet-500;
$secondary-color: $yellow-500;
$tertiary-color: $gray-400;

$global-color: $gray-700;

$border-1-color: $violet-100;
$border-2-color: $gray-100;
$border-3-color: $blue-100;

$global-bg-color: $yellow-100;

$background-color-1: $white;
$background-color-2: $blue-100;
$background-color-3: $gray-100;
$background-color-4: $violet-100;

/* Typography */
$primary-font-1: $fontSansSerif;
$primary-font-2: $fontSerif;
$secondary-font: $fontMonospace;

$h1-size: 36px;
$h2-size: 30px;
$h3-size: 24px;
$h4-size: 20px;
$h5-size: 18px;
$h6-size: 16px;

$body-size: 16px;
$body-line_height: 24px;

$caption-size: 12px;
$caption-line_height: 20px;

/* Spacing */


