---
layout: default
---

<div class="container">
    <div class="page__head" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
        <h1 class="page__title">{{ page.title | escape }}</h1>
        {% if page.image %}
        <div class="page-image" style="background-image: url({{site.baseurl}}{{page.image}})"></div>
        {% endif %}
    </div>
  <section class="library">
    {% if site.library.size == 0 %}
	<p class="text-center">Nothing published yet!</p>
	{% else %}
        <div class="row">
            {% assign c = "c-library-card" %}
            <div class="{{c}} col col-4 col-d-6 col-t-12">
                <ul>
                    {% for link in site.data.library-tabs %}
                    <li>
                        <a class="page-link" href="{{ link.url }}">{{ link.title }}</a>            
                    </li>
                    {% endfor %}
                </ul>
                
            </div>
            <div class="page__content col col-4 col-d-6 col-t-12" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-delay="100" data-aos-duration="700">
                {{ content }}
            </div>
        </div>
	    {% endif %}
  </section>
</div>