---
layout: default
---

<div class="container max-w-full flex justify-center p-4">
  <!-- begin page -->
  <article class="page max-w-2xl">

    <div class="page__head" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
      <h1 class="page__title">{{ page.title | escape }}</h1>
      {% if page.image %}
      <div class="container-full">
        <div class="row">
          <div class="col col-12">
            <div class="c-page-image animate">
              <img alt="{{page.title}}" loading="lazy" src="{{site.baseurl}}{{page.image}}">
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="page__content" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-delay="100" data-aos-duration="700">
    {{ content }}
    </div>

  </article>
  <!-- end page -->
</div>
