---
layout: default
---

<div class="container max-w-full flex justify-center p-4">
  <!-- begin post -->
  <article class="post max-w-2xl">
    <div class="post__head" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
      <h1 class="post__title">{{ page.title | escape }}</h1>
      <div class="post__date">
        <time datetime="{{ page.date | date_to_xmlschema }}">Published {{page.date | date: '%b %d, %Y'}}</time>
        - {% include read-time.html %}
      </div>
      {% if page.image %}
        {% if page.showHeaderImage %}
        <div class="post-image img-blur" style="background-image: url({{site.baseurl}}{{page.image}})"></div>
        {% endif %}
      {% endif %}
    </div>

    <div class="post__content" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-delay="100" data-aos-duration="700">
      {{ content }}
    </div>

    {% if page.tags.size >= 1 %}
    <div class="post-tags">
      {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tags#{{ tag | slugify | downcase }}" class="post-tags__tag">{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
    <br>
    <div class="post__share">
      <ul class="share__list list-reset">
        <li class="share__item">
          <a class="share__link share__facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Facebook" rel="nofollow">
            {% include icons/fb-logo.svg %}
            </a>
        </li>

        <li class="share__item">
          <a class="share__link share__twitter" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Twitter" rel="nofollow">
            {% include icons/x-logo.svg %}
            </a>
        </li>

        <li class="share__item">
          <a class="share__link share__pinterest" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ site.baseurl }}{{ page.image }}&amp;description={{ page.title | uri_escape }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Pinterest" rel="nofollow">
            {% include icons/pinterest-logo.svg %}
            </a>
        </li>
      </ul>
    </div>

    <div class="post__navigation">
      {% if page.previous.url %}
      <a class="prev" href="{{site.baseurl}}{{page.previous.url}}">
        <div class="prev__post-icon">
          <svg enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m352 128.4-32.3-32.4-159.7 160 159.7 160 32.3-32.4-127.3-127.6z"/></svg>
        </div>
        <span class="post__nav-wrapper">
          <div class="post__nav-image" style="background-image: url({{site.baseurl}}{{page.previous.image}})"></div>
          <h2 class="post__nav-title"><time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time> <br>{{page.previous.title}}</h2>
        </span>
      </a>
      {% endif %}

      {% if page.next.url %}
      <a class="next" href="{{site.baseurl}}{{page.next.url}}">
        <div class="next__post-icon">
          <svg enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m160 128.4 32.3-32.4 159.7 160-159.7 160-32.3-32.4 127.3-127.6z"/></svg>
        </div>
        <span class="post__nav-wrapper">
          <div class="post__nav-image" style="background-image: url({{site.baseurl}}{{page.next.image}})"></div>
          <h2 class="post__nav-title"><time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time> <br>{{page.next.title}}</h2>
        </span>
      </a>
      {% endif %}
    </div>
    <hr>
    {% if site.disqus.shortname %}
      {% include show-disqus.html %}
    {% endif %}

  </article>
  <!-- end post -->
</div>
